.content{
    background-image: url(../imgs/hhh.jpg);
    width: 500px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
h1{
    color: #fff;
    font-size: 60px;
}
.content::after{
    content: '';
    background-color: rgba(0, 0, 0, 0.416);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
h1{
    position: relative;
    z-index: 1;
}

